.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: navy;
    color: antiquewhite;
  }

  .detailFooter {
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
    background-color: rgb(152, 236, 236);
    color: antiquewhite;
    height: 8%;
  }

  .img {

    position: static;
    float: center;
    width:  100%;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }

  p {
    font-size: 2.5vw;
  }

  .item-inner {
    background-color: rgb(148, 34, 34);
    color: black;
  }

  .item-content {
    background-color: white;
    color: rgb(109, 47, 47);
  }

  .navbar-inner {
    background-color: rgb(152, 236, 236);
    color: rgb(80, 11, 11);
  }

  .f7-icons {
    color: rgb(146, 37, 37);
  }

  .ios-only {
    color: rgb(126, 21, 21);
  }

  .page-content {
    background-color: white;
  }